.header__title {
  display: flex;
  align-items: center;
  line-height: 96px;
  font-weight: 600;
  font-size: 102px;
  width: 100%;
  max-width: 730px;
  margin: 0;
  margin-left: 64px;
  z-index: 2;
}
