.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: fiil;
  z-index: 0;    /* В первом брифе указано, что элемент должен быть поверх остальных, поэтому z-index оставил */

}
